.clients {
  margin-top: 64px;

  @include media('>=large') {
    margin-top: 128px;
  }

  &__meta {
    position: relative;
    margin: 0 0 16px;
    font-size: 16px;
    font-family: var(--font-stack-semibold);
    color: var(--color-slate);
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      margin: 16px auto 0;
      background: linear-gradient(90deg, var(--color-electric-magenta), var(--color-electric-purple));
      border-radius: var(--border-radius);
    }
  }

  &__title {
    margin: 0 0 64px;
    font-size: 32px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;

    @include media('>=small') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('>=large') {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-top: 1px solid var(--color-carbon-100);
    overflow: hidden;

    svg {
      max-width: 100%;
      width: 100%;
      max-height: 64px;
    }

    &:first-child,
    &:nth-child(2) {
      border-top: 0;
    }

    &:first-child,
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      @include media('>=large') {
        border-top: 0;
      }
    }

    &:nth-child(n+6) {
      @include media('>=large') {
        border-top: 1px solid var(--color-carbon-100);
      }
    }
  }

  [data-client="bcbsnc"] svg {
    max-height: 48px;
  }

  [data-client="campbell"] svg {
    max-height: 48px;
  }

  [data-client="lulu"] svg {
    max-height: 48px;
  }

  [data-client="oracle"] svg {
    max-height: 24px;
  }

  [data-client="redhat"] svg {
    max-height: 40px;
  }
}
