.cover {
  position: relative;
  padding: 0;
  background-color: rgb(29, 29, 29);
  color: var(--color-crystal-white);

  @include media('>=large') {
    height: 100vh;
    overflow: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-crystal-white);
  }

  .wrapper {}

  &__title {
    position: relative;
    padding: 32px 0;
    margin: 0;
    z-index: 2;

    @include media('>=large') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1440px;
      padding: 0 0 0 64px;
      margin: 0 0 0 -720px;
      border-left: 8px solid var(--color-crystal-white);
      font-size: 32px;
      font-weight: 400;
      transform: translateY(-50%);
    }


    &-client {
      display: block;
      margin: 0 0 16px;
      font-size: 64px;
      line-height: 1;
      letter-spacing: -4px;

      @include media('>xxx-large') {
        font-size: 128px;
        line-height: 0.9;
        letter-spacing: -4px;
      }
    }

    &-headline {
      display: block;
      font-size: 24px;
      letter-spacing: normal;
      font-family: var(--font-stack-regular);

      @include media('>xxx-large') {
        font-size: 32px;
      }
    }
  }

  // Start: Unique title bar branding
  // ---------------------------------------------------------------------------
  &__title--atlanticbt { border-left-color: #ff007e; }
  &__title--hwy55 { border-left-color: #aF1e23; }
  &__title--nccourts { border-left-color: #ae936c; }
  &__title--ncgov { border-left-color: #a83338; }
  &__title--redhat { border-left-color: #ee0000; }
  &__title--uwpharmacy { border-left-color: #c5050c; }
  // ---------------------------------------------------------------------------
  // End: Unique title bar branding

  &__services {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    list-style: none;
    z-index: 2;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  &__dots {
    display: none;

    @include media('>=large') {
      position: fixed;
      top: 50%;
      right: 64px;
      display: block;
      width: 320px;
      height: 320px;
      background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
      background-size: 32px 32px;
      filter: invert(100%);
      mix-blend-mode: difference;
      transform: translateY(-50%);
      transition: opacity $animation_speed_complex $animation_easing_decelerate;
      pointer-events: none;
      z-index: 3;
    }

    &--hide {
      opacity: 0;
    }
  }

  &__photo {
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: 1;

    @include media('>=large') {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
    }

    &:before {
      @include media('>=large') {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
        z-index: 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }
  }
}
