.hero {
  position: relative;
  padding: 96px 0 32px;
  background-color: rgb(29, 29, 29); // blend with the video clip
  color: var(--color-crystal-white);
  overflow: hidden;

  @include media('>=large') {
    min-height: 100vh;
    padding: 128px 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-crystal-white);
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-family: var(--font-stack-regular);
    font-weight: normal;
    z-index: 2;

    @include media('>=large') {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1440px;
      margin-left: -720px;
      transform: translateY(-50%);
    }

    span {
      display: inline-block;
      margin-top: 16px;
      font-size: 60px;
      font-family: var(--font-stack-extrabold);
      line-height: 1;

      @include media('>=large') {
        font-size: 128px;
        line-height: 0.9;
        letter-spacing: -4px;
      }

      @include media('>xxx-large') {
        font-size: 160px;
        line-height: 0.9;
        letter-spacing: -8px;
      }
    }
  }

  &__highlights {
    position: relative;
    display: grid;
    row-gap: 32px;
    margin: 64px 0 0;
    font-size: 16px;
    z-index: 2;

    @include media('>=small') {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
    }

    @include media('>=large') {
      position: absolute;
      bottom: 64px;
      left: 50%;
      width: 1440px;
      margin-left: -720px;
      font-size: 19px;
    }

    div {
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 64px;
        height: 2px;
        margin-bottom: 32px;
        background-color: var(--color-crystal-white);
        background: linear-gradient(90deg, var(--color-electric-magenta), var(--color-electric-purple));
        border-radius: var(--border-radius);
      }
    }

    h2 {
      margin: 0 0 16px;
      font-size: 20px;

      @include media('>=large') {
        font-size: 24px;
      }
    }

    p {
      margin: 0;
      color: var(--color-slate-light);
    }
  }

  &__dots {
    display: none;

    @include media('>=large') {
      position: fixed;
      top: 50%;
      right: 64px;
      display: block;
      width: 320px;
      height: 320px;
      background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
      background-size: 32px 32px;
      filter: invert(100%);
      mix-blend-mode: difference;
      transform: translateY(-50%);
      transition: opacity $animation_speed_complex $animation_easing_decelerate;
      pointer-events: none;
      z-index: 3;
    }

    &--hide {
      opacity: 0;

    }
  }

  &__video {
    position: absolute;
    top: 50%;
    right: -15%;
    max-width: 80%;
    mix-blend-mode: lighten;
    transform: translateY(-50%);
    z-index: 1;
  }
}
