.shots {
  margin-top: 128px;

  &__header {
    margin-bottom: 64px;
    text-align: center;
  }

  &__meta {
    position: relative;
    margin: 0 0 16px;
    font-size: 16px;
    font-family: var(--font-stack-semibold);
    color: var(--color-slate);
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      margin: 16px auto 0;
      background: linear-gradient(90deg, var(--color-electric-magenta), var(--color-electric-purple));
      border-radius: var(--border-radius);
    }
  }

  &__title {
    margin: 0 0 64px;
    font-size: 32px;
    text-align: center;
  }

  &__list {
    @include media('>=x-small') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 64px 32px;
    }

    @include media('>=large') {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__footer {
    margin-top: 64px;
    text-align: center;
  }

}

.shot {

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
  }

  &__figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    aspect-ratio: 4/3;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform $animation_speed_complex * 2 $animation_easing_decelerate;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 0 0 var(--color-dust);
      transition: box-shadow $animation_speed_complex * 2 $animation_easing_decelerate;
      z-index: 2;
    }
  }

  &__overlay {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    margin: 16px 0 0;
    transition:
      opacity $animation_speed_complex $animation_easing_decelerate,
      transform $animation_speed_complex $animation_easing_decelerate;
    z-index: 2;
  }

  &__title {
    margin: 0;
    font-family: var(--font-stack-regular);
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: normal;
  }

  // Hover
  &__link:hover,
  &__link:focus {

    .shot__figure:before {
      box-shadow: inset 0 0 0 8px var(--color-dust);
    }

    .shot__figure img {
      transform: scale(1.05);
    }

    .shot__overlay {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
    }

    .shot__overlay:before {
      box-shadow: inset 0 0 0 8px var(--color-dust);
    }

  }

}
