.sidekick {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 75vh;
  padding: 96px 0 0;

  @include media('>=large') {
    min-height: 100vh;
    padding: 0;
  }

  &__content {
    position: relative;
  }

  &__title {
    position: relative;
    margin: 0;
    font-family: var(--font-stack-extrabold);
    font-size: 64px;
    line-height: 1;
    letter-spacing: -2px;
    transition: font-size $animation_speed_simple $animation_easing_standard;

    @include media('>=small') {
      font-size: 72px;
    }

    @include media('>=medium') {
      font-size: 80px;
      letter-spacing: -4px;
    }

    @include media('>=large') {
      font-size: 88px;
    }

    @include media('>=x-large') {
      font-size: 96px;
    }

    @include media('>xx-large') {
      font-size: 128px;
      letter-spacing: -8px;
    }

    @include media('>xxx-large') {
      font-size: 160px;
      line-height: 0.9;
    }
  }

  &__dots {
    display: none;

    @include media('>=large') {
      position: fixed;
      top: 50%;
      right: 64px;
      display: block;
      width: 320px;
      height: 320px;
      background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
      background-size: 32px 32px;
      filter: invert(100%);
      mix-blend-mode: difference;
      transform: translateY(-50%);
      transition: opacity $animation_speed_complex $animation_easing_decelerate;
    }

    &--hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  // Bold sidekick
  // ===========================================================================
  &--bold {
    // .sidekick__title {
    //   @include media('>=large') {
    //     font-size: 96px;
    //     letter-spacing: -2px;
    //     // text-transform: uppercase;
    //   }
    // }
  }

  // Section sidekick
  // ===========================================================================
  &--section {
    .sidekick__title {
      // @include media('>=large') {
      //   font-size: 128px;
      //   line-height: 1;
      //   letter-spacing: -8px;
      // }
      // @include media('>xxx-large') {
      //   font-size: 160px;
      //   line-height: 1;
      // }
    }
  }
}
