.work {
  @include media('>=large') {
    margin-top: -128px;
  }

  &__title {
    position: relative;
    margin: 0 0 32px;
    font-size: 16px;
    font-family: var(--font-stack-semibold);
    color: var(--color-slate);
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;

    &:after {
      content: '';
      display: block;
      width: 32px;
      height: 2px;
      margin: 16px auto 0;
      background: linear-gradient(90deg, var(--color-electric-magenta), var(--color-electric-purple));
      border-radius: var(--border-radius);
    }
  }

  &__list {
    position: relative;
    display: grid;
    row-gap: 64px;

    @include media('>=small') {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 32px;
    }

    @include media('>=large') {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 128px;
    }

    &:before {
      @include media('>=large') {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 148px;
        height: 148px;
        background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
        background-size: 32px 32px;
        transform: translate3d(-50%, -50%, 0);
        z-index: 0;
      }
    }
  }

  &__project {
    @include media('>=large') {
      position: relative;
      z-index: 1;
    }

    &-link {
      display: block;
      text-decoration: none;

      &:hover {

        .work__project-poster img {
          transform: scale(1.05);
        }

        .work__project-poster:before {
          box-shadow: inset 0 0 0 8px var(--color-dust);
        }

        .work__project-poster-symbol { opacity: 0; }
        .work__project-poster-symbol[position='top-left'] { transform: translate3d(-5%, -5%, 0); }
        .work__project-poster-symbol[position='top-right'] { transform: translate3d(5%, -5%, 0); }
        .work__project-poster-symbol[position='bottom-left'] { transform: translate3d(-5%, 5%, 0); }
        .work__project-poster-symbol[position='bottom-right'] { transform: translate3d(5%, 5%, 0); }

      }
    }

    &-poster {
      position: relative;
      aspect-ratio: 3/4;
      width: 100%;
      margin-bottom: 32px;
      background-color: transparent;
      border-radius: var(--border-radius);
      overflow: hidden;
      transition: box-shadow $animation_speed_complex $animation_easing_decelerate;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 0 0 var(--color-dust);
        transition: box-shadow $animation_speed_complex * 2 $animation_easing_decelerate;
        z-index: 2;
      }

      // Symbols
      &-symbol {
        position: absolute;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        transition:
          opacity $animation_speed_complex * 2 $animation_easing_decelerate,
          transform $animation_speed_complex * 2 $animation_easing_decelerate;
        z-index: 2;

        svg {
          width: 24px;
          height: 24px;

          path { fill: var(--color-crystal-white); }
        }

        &[position='top-left'] {
          top: 0;
          left: 0;
        }
        &[position='top-right'] {
          top: 0;
          right: 0;
        }
        &[position='bottom-left'] {
          bottom: 0;
          left: 0;

          path {}
        }
        &[position='bottom-right'] {
          bottom: 0;
          right: 0;

          path { fill: none; }
          g { stroke: var(--color-crystal-white); }
        }
      }

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform $animation_speed_complex * 2 $animation_easing_decelerate;
        z-index: 1;
      }
    }

    &-client {
      position: relative;
      margin: 0 0 0 32px;
      font-size: 16px;
      font-weight: 700;
      color: var(--color-slate);
      text-transform: uppercase;
      letter-spacing: normal;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -32px;
        display: block;
        width: 16px;
        height: 2px;
        margin-top: -1px;
        background-color: var(--color-slate);
      }
    }

    &-title {
      margin: 16px 0 0 32px;
      color: var(--color-carbon-900);
      font-size: 24px;
      font-family: var(--font-stack-semibold);
      line-height: 1.25;
      letter-spacing: -1px;
    }
  }

  // Custom Brands
  &__project--hwy55 {
    .work__project-poster-symbol[position='top-left'] {
      background: url('/iconmarks/iconmark-hwy55.svg') no-repeat 50% 50% / auto 32px;
    }
  }

  &__project--wisconsin {
    .work__project-poster-symbol[position='top-left'] {
      background: url('/iconmarks/iconmark-wisconsin.svg') no-repeat 50% 50% / auto 40px;
    }
  }

  &__project--atlanticbt {
    .work__project-poster-symbol[position='top-left'] {
      background: url('/iconmarks/iconmark-atlanticbt.svg') no-repeat 50% 50% / 64px auto;
    }
  }

  &__project--redhat {
    .work__project-poster-symbol[position='top-left'] {
      background: url('/iconmarks/iconmark-redhat.svg') no-repeat 50% 50% / auto 32px;
    }
  }

  &__project--ncgov {
    .work__project-poster-symbol[position='top-left'] {
      background: url('/iconmarks/iconmark-ncgov.svg') no-repeat 50% 50% / auto 40px;
    }
  }

  &__project--nccourts {
    .work__project-poster-symbol[position='top-left'] {
      background: url('/iconmarks/iconmark-nccourts.svg') no-repeat 50% 50% / auto 40px;
    }
    .work__project-poster-symbol[position='top-right'] svg path,
    .work__project-poster-symbol[position='bottom-left'] svg path { fill: #ae936c; }
  }

  &--latest {
    margin-top: 128px;
  }
}

// @Supports fallbacks
@supports not (aspect-ratio: 3/4) {
  .work__project-poster {
    padding-top: 133.33%;
  }
  .work__project-poster-symbol {
    padding-top: 25%;
  }
}
