.band {
  margin-top: 64px;

  @include media('>=large') {
    margin-top: 128px;
  }

  // Numbered band
  // ---------------------------------------------------------------------------
  &--numbered {
    .wrapper {
      @include media('>=large') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
      }
    }
    .band__title-block {
      @include media('>=large') {
        position: relative;
        grid-column: 1 / 5;
      }
    }
    .band__number {
      @include media('>=large') {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        color: var(--color-carbon-100);
        font: 128px/1 var(--font-stack-extrabold);
        user-select: none;
        z-index: 0;
      }
    }
    .band__title {
      position: relative;
      margin: 0 0 0 106px;
      font-size: 32px;
      line-height: 128px;
      z-index: 1;

      &:after {
        content: '.';
      }
    }

    .band__content {
      @include media('>=large') {
        grid-column: 5 / 13;
        padding-top: 40px;
      }

      h2 { margin-top: 0; }
    }

    img {
      margin-top: 64px;
    }
  }

  // Client band
  // ---------------------------------------------------------------------------
  &--client {
    .wrapper {
      @include media('>=large') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
      }
    }
    .band__title-block {
      @include media('>=large') {
        display: flex;
        grid-column: 1 / 4;
        aspect-ratio: 1;
        justify-content: center;
        padding: 64px;
        border: 1px solid var(--color-carbon-100);
        border-radius: var(--border-radius);
        text-align: center;
      }

      svg {
        display: block;
        width: 100%;
      }
    }

    .band__title {
      margin: 0;
      font-size: 19px;

      &:after {
        content: '.';
      }
    }

    .band__content {
      @include media('>=large') {
        grid-column: 5 / 13;
      }

      h2 {
        font-size: 16px;
        color: var(--color-slate);
        text-transform: uppercase;
      }
    }

    .band__about {}

    .band__skills {
      margin-top: 64px;
    }
  }

  // Split band
  // ---------------------------------------------------------------------------
  &--split {
    .wrapper {
      @include media('>=large') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
      }
    }

    .wrapper > *:first-child {
      @include media('>=large') {
        grid-column: 1 / 7;
      }
    }

    .wrapper > *:last-child {
      margin-top: 32px;

      @include media('>=large') {
        grid-column: 7 / 13;
        margin-top: 0;
      }
    }
  }

  // Numbered band
  // ---------------------------------------------------------------------------
  &--testimonial {
    position: relative;
    background-color: #f2f2f2;
    overflow: hidden;

    @include media('>=large') {
      padding: 128px 0;
    }

    blockquote {
      position: relative;
      z-index: 2;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50vw;
      transform: translate3d(-50%, -50%, 0);
      opacity: .05;
      z-index: 1;
    }
  }

  // Service Callout band
  // ---------------------------------------------------------------------------
  &--service-callout {
    .wrapper {
      @include media('>=large') {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 24px;
        align-items: center;
      }
    }



    .band__callout-icon {
      position: relative;
      margin-bottom: 32px;
      grid-column: 1 / 4;
      aspect-ratio: 2;
      background-image: radial-gradient(var(--color-carbon-900) 1.5px, transparent 0);
      background-size: 24px 24px;
      background-position: 50% 50%;

      @include media('>=large') {
        margin: 0;
        aspect-ratio: 1;
        background-size: 32px 32px;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 50%;
        max-height: 50%;
        height: auto;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    .band__callout-contents {
      @include media('>=large') {
        grid-column: 5 / 13;
      }
    }

    .band__callout-meta {
      margin: 0 0 32px;
      font-size: 14px;
      font-family: var(--font-stack-semibold);
      color: var(--color-slate);
      text-transform: uppercase;
      letter-spacing: normal;

      @include media('>=large') {
        font-size: 16px;
      }

      &:after {
        content: '';
        display: block;
        width: 32px;
        height: 2px;
        margin: 16px 0 0;
        background: linear-gradient(90deg, var(--color-electric-magenta), var(--color-electric-purple));
        border-radius: var(--border-radius);
      }
    }

    .band__callout-title {
      margin: 0 0 16px;
      font-size: 40px;
    }

    .band__callout-description {
      margin: 0 0 32px;
    }

  }
}
