.footer {
  padding: 32px 0;
  background-color: var(--color-carbon-900);
  color: var(--color-crystal-white);


  @include media('>=large') {
    padding: 128px 0;
  }

  // Primary section
  // ---------------------------------------------------------------------------
  &__primary {
    @include media('>=large') {
      display: flex;
      align-items: center;
      font-size: 28px;
      line-height: 1.25;
    }

    // footer logo
    .m-logo {
      width: 32px;
      margin: 0 0 24px;

      @include media('>=large') {
        width: 96px;
        margin: 0 96px 0 0;
      }

      path {
        fill: var(--color-crystal-white);
      }
    }

    // footer statement
    p {
      margin: 0;
    }
  }

  // Secondary section
  // ---------------------------------------------------------------------------
  &__secondary {
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px solid var(--color-carbon-700);

    @include media('>=large') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 64px;
      margin-top: 64px;
    }
  }

  // Legal menu
  .menu--legal {
    padding: 0;
    margin: 0;
    list-style: none;

    @include media('>=large') {
      display: flex;
      order: 2;
    }

    li + li {
      @include media('>=large') {
        margin-left: 24px;
      }
    }

    a {
      font-size: 14px;
      color: var(--color-carbon-300);
      text-decoration: none;
      transition: color $animation_speed_simple $animation_easing_standard;

      &:hover,
      &:focus {
        color: var(--color-crystal-white);
      }
    }
  }

  // Copyright statement
  .copyright {
    margin: 24px 0 0;
    font-size: 14px;
    color: var(--color-carbon-300);

    @include media('>=large') {
      margin: 0;
      order: 1;
    }

    strong {
      font-weight: 700;
    }
  }
}
