// Layout Header
// =============================================================================
.layout--header {

  .m-logo {
    position: fixed;
    top: 32px;
    left: 32px;
    width: 32px;
    height: 32px;
    z-index: 100;
    filter: invert(100%);
    mix-blend-mode: difference;

    @include media('>=large') {
      top: 72px;
      left: 74px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include media('>=large') {}
    }

    svg {
      width: auto;
      height: 100%;

      path {
        fill: var(--color-carbon-900);
      }
    }
  }

  .menu-toggle {
    position: fixed;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    border: 0;
    filter: invert(100%);
    mix-blend-mode: difference;
    cursor: pointer;
    z-index: 1001;

    @include media('>=large') {
      top: 50%;
      left: 66px;
      width: 64px;
      height: 64px;
      margin-top: -32px;
      border: 2px solid var(--color-carbon-900);
      box-shadow: 0 0 0 0 rgba(27, 27, 28, .25);
      border-radius: 50%;
      transition:
        border $animation_speed_complex $animation_easing_standard,
        box-shadow $animation_speed_complex $animation_easing_standard;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      margin: -12px 0 0 -12px;
    }

    path { fill: var(--color-carbon-900); }

    // hover + focus state
    &:hover,
    &:focus {
      outline: 0;

      @include media('>=large') {
        box-shadow: 0 0 0 4px rgba(27, 27, 28, .25);
      }
    }

    // active state
    &--active {}
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 32px;
    background: var(--color-carbon-800);
    overflow: hidden;
    z-index: 1000;

    @include media('>=large') {
      top: 0;
      left: 0;
      width: 31vw;
      height: 100vh;
      padding: 0 128px 0 194px;
      border-radius: 0;
    }

    &__list {
      position: relative;
      width: 100%;
      z-index: 2;

      @include media('>=large') {
        width: 50vw;
      }

      h1 {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
      }
      ol {
        display: grid;
        row-gap: 24px;
        padding: 0;
        margin: 0;
        list-style: none;
        counter-reset: menu-counter;
      }
      li {
        position: relative;
        counter-increment: menu-counter;

        &:before {
          @include media('>=large') {
            content: "0" counter(menu-counter);
            position: absolute;
            top: 16px;
            left: -32px;
            display: block;
            display: none;
            color: var(--color-slate-light);
          }
        }
      }
      a {
        display: inline-block;
        color: var(--color-crystal-white);
        text-decoration: none;
        font-family: var(--font-stack-extrabold);
        font-size: 48px;
        line-height: 1;
        transition:
          color $animation_speed_complex $animation_easing_decelerate,
          text-stroke $animation_speed_complex $animation_easing_decelerate;

        @include media('>=large') {
          font-size: 96px;
          letter-spacing: -4px;
        }

        @include media('>xxx-large') {
          font-size: 4.5vw;
          letter-spacing: -6px;
        }
      }

      a:hover, a:focus {
        color: var(--color-carbon-900);
        -webkit-text-stroke: 0.025em var(--color-crystal-white);
        text-stroke: 0.025em var(--color-crystal-white);

        strong:before {
          animation: strikeMenuItem $animation_speed_dramatic $animation_easing_standard;
        }
      }

      a[aria-current="page"],
      a[aria-current="page"]:hover,
      a[aria-current="page"]:focus {
        strong:before {
          transform: translateX(0%);
          animation: none;
        }
      }
    }
  }

  @keyframes strikeMenuItem {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .social {
    position: fixed;
    left: 74px;
    bottom: 64px;
    padding: 0;
    margin: 0;
    border-radius: 48px;
    list-style: none;
    z-index: 100;
    filter: invert(100%);
    mix-blend-mode: difference;

    &__brand {
      width: 48px;
      height: 48px;
    }

    .social__brand + .social__brand { margin-top: 12px; }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 12px;
      border-radius: 50%;
      transition: background $animation_speed_complex $animation_easing_standard;

      &:hover {
        background-color: rgba(255,255,255,.04);
      }
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
    }

    path {
      fill: #000;
      transition: fill $animation_speed_complex $animation_easing_standard;
    }
  }

  .actions {
    position: fixed;
    top: 55px;
    right: 64px;
    z-index: 100;
    filter: invert(100%);
    mix-blend-mode: difference;

    .button {
      background-color: transparent;
      backdrop-filter: blur(64px);
      border: 2px solid var(--color-carbon-900);
      color: var(--color-carbon-900);
    }
    .button g { stroke: var(--color-carbon-900); }

    .button:hover, .button:focus {
      box-shadow: 0 0 0 2px var(--color-carbon-900);
    }
  }

  .scroll-indicator {
    position: fixed;
    right: 64px;
    bottom: 0;
    font-family: var(--font-stack-semibold);
    filter: invert(100%);
    mix-blend-mode: difference;
    z-index: 100;

    span {
      display: flex;
      align-items: center;
      transform: rotate(90deg) translateY(100%);
      transform-origin: 100% 100%;

      &:after {
        content: '';
        display: inline-block;
        width: 64px;
        height: 2px;
        margin-left: 16px;
        background-color: var(--color-carbon-900);
      }
    }
  }

  .artifacts {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate3d(0, -50%, 0);
  }
}
