// =============================================================================
// Custom Fonts
// =============================================================================
@font-face {
  font-family: 'gilroy-extrabold';
  src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
  url('/fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gilroy-light';
  src: url('/fonts/gilroy-light-webfont.woff2') format('woff2'),
  url('/fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gilroy-regular';
  src: url('/fonts/gilroy-regular-webfont.woff2') format('woff2'),
  url('/fonts/gilroy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gilroy-semibold';
  src: url('/fonts/gilroy-semibold-webfont.woff2') format('woff2'),
  url('/fonts/gilroy-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


// =============================================================================
// Animations
// =============================================================================
$animation_speed_simple: 100ms;
$animation_speed_complex: 200ms;
$animation_speed_dramatic: 1s;

$animation_easing_standard: cubic-bezier(.4, 0, .2, 1);
$animation_easing_decelerate: cubic-bezier(0, 0, .2, 1);
$animation_easing_accelerate: cubic-bezier(.4, 0, 1, 1);
$animation_easing_bounce: cubic-bezier(.7, 0, .3, 1);
$animation_easing_quart: cubic-bezier(.77, 0, .175, 1);


// =============================================================================
// Breakpoints
// =============================================================================
$breakpoints: (
  'xx-small': 480px,
  'x-small': 600px,
  'small': 840px,
  'medium': 960px,
  'large': 1280px,
  'x-large': 1440px,
  'xx-large': 1600px,
  'xxx-large': 1920px
);


// =============================================================================
// Root
// =============================================================================
:root {
  // Font tokens
  --font-stack-extrabold: 'gilroy-extrabold', Helvetica, Arial, sans-serif;
  --font-stack-semibold: 'gilroy-semibold', Helvetica, Arial, sans-serif;
  --font-stack-regular: 'gilroy-regular', Helvetica, Arial, sans-serif;
  --font-stack-light: 'gilroy-light', Helvetica, Arial, sans-serif;

  // Color tokens
  --color-carbon-900: #1b1b1c;
  --color-carbon-800: #282728;
  --color-carbon-700: #343436;
  --color-carbon-600: #494949;
  --color-carbon-500: #646569;
  --color-carbon-400: #adadad;
  --color-carbon-300: #dadfe1;
  --color-carbon-200: #dddddd;
  --color-carbon-100: #e5e5eb;
  --color-dust-heavy: #f3f3f6;
  --color-dust: #f7f7f7;
  --color-dust-light: #f9f9f9;
  --color-crystal-white: #ffffff;
  --color-slate-heavy: #566971;
  --color-slate: #5a6e77;
  --color-slate-light: #6e8891;
  --color-electric-blue: #1dcaff;
  --color-electric-magenta: #ff007e;
  --color-electric-purple: #5708d3;
  --color-electric-shadow: #1f0645;
  --color-error-red: #eb0000;

  // Corner tokens
  --border-radius: 16px;

  // Animation tokens
  // --animation-speed-simple: 100ms;
  // --animation-speed-complex: 200ms;
  // --animation-speed-dramatic: 1s;
}
